<!DOCTYPE html>
<html>
	<head>
		<title>
			{{title}}
		</title>

		{{#each styleSheets}}
			<link href="{{this}}" rel="stylesheet" type="text/css">
		{{/each}}

	</head>
	<body class="{{bodyClass}}">

		{{> header}}

		{{{body}}}

		{{> footer}}

		{{!-- These js' will be on every page --}}
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/bootstrap.min.js"></script>
		<script src="handlebars/handlebars.min.js"></script>

		{{#each javascripts}}
			<script src="{{this.link}}" {{this.attributes}}></script>
		{{/each}}

	</body>
</html>
